.row
  .col-sm-4.col-sm-offset-4
    %h3 Create Free Account
    = form_tag sessions_path, class: "sign_in" do
      .form-group
        = label_tag :email, "Email Address"
        = email_field_tag(:email, '', class: "form-control")
      .form-group      
        = label_tag :password
        = password_field_tag(:password, '', class: "form-control")
      .form-group
        %p
          Don't have an account?
          = link_to "Register", register_path
        = submit_tag "Log in", class: "btn btn-primary btn-block"
